# 📊 Data Preprocessing

In [1]:
# 📊 Import necessary libraries
import pandas as pd  
import numpy as np  
import matplotlib.pyplot as plt  
import seaborn as sns  
import os  
import sys

In [2]:
# 🛠️ Add the 'scripts' directory to the Python path for module imports
sys.path.append(os.path.abspath(os.path.join('..', 'scripts')))

In [3]:
# 📚 Importing the DataPreprocessor class from the scripts directory
from data_preprocessing import DataPreprocessor

In [4]:
# 🛠️ Create an instance of DataPreprocessor
processor = DataPreprocessor()

In [5]:
# 📅 Define the start and end dates for data retrieval
start_date = "2015-01-01"  # Start date = January-01-2015
end_date = "2025-01-31"    # End date = January-31-2025

# 📈 Define the symbols for which we want to fetch historical data
symbols = ["BND", "SPY", "TSLA"]  # Bond, S&P 500, and Tesla stocks

In [6]:
# 🚀 Fetch the data using the get_data method
data_paths = processor.get_data(start_date, end_date, symbols)

# 📂 Output the paths of the saved data files
print("=====================================================")
print("📂 Data files saved at the following locations:")
print("=====================================================")
for symbol, path in data_paths.items():
    print(f"{symbol}: {path}")

📊 Fetching data for BND from 2015-01-01 to 2025-01-31...
✅ Data for BND saved to '../data/BND.csv'.
📊 Fetching data for SPY from 2015-01-01 to 2025-01-31...
✅ Data for SPY saved to '../data/SPY.csv'.
📊 Fetching data for TSLA from 2015-01-01 to 2025-01-31...
✅ Data for TSLA saved to '../data/TSLA.csv'.

=====================================================
📂 Data files saved at the following locations:
=====================================================
BND: ../data/BND.csv
SPY: ../data/SPY.csv
TSLA: ../data/TSLA.csv

## **📥 Load Data**

In [7]:
# 📥 Load BND data
bnd = processor.load_data('BND')
print("📊 BND data loaded successfully!")

# 📥 Load SPY data
spy = processor.load_data('SPY')
print("📊 SPY data loaded successfully!")

# 📥 Load TSLA data
tsla = processor.load_data('TSLA')
print("📊 TSLA data loaded successfully!")

📊 Loading data for BND from '../data/BND.csv'.
📊 Loading data for SPY from '../data/SPY.csv'.
📊 Loading data for TSLA from '../data/TSLA.csv'.

📊 BND data loaded successfully!
📊 SPY data loaded successfully!
📊 TSLA data loaded successfully!

## **Explore the Data**

In [8]:
# 🌟 Explore the first few rows of BND data
print("🔍 Here are the first 10 rows of the BND data:")
display(bnd.head(10))

🔍 Here are the first 10 rows of the BND data:

             Open     High      Low  Close     Volume
Date
2025-01-31  72.48  72.5400  72.2000  72.34  6738335.0
2025-01-30  72.46  72.5300  72.3800  72.44  5622434.0
2025-01-29  72.43  72.4900  72.1700  72.34  5780349.0
2025-01-28  72.39  72.3900  72.2100  72.38  4424518.0
2025-01-27  72.34  72.4400  72.2600  72.42  8621175.0
2025-01-24  72.00  72.0943  71.8696  72.04  5555722.0
2025-01-23  72.00  72.0000  71.8000  71.90  7529793.0
2025-01-22  72.15  72.2000  71.9700  72.01  6616809.0
2025-01-21  72.21  72.2100  72.0725  72.16  8491622.0
2025-01-17  72.10  72.1000  71.9100  71.95  5600397.0

In [17]:
# 📊 Understand the data of BND
print("====================================================")
print("     🔍 Inspecting the data for BND:")
print("====================================================")

inspection_results = processor.inspect_data(bnd)  
display(pd.DataFrame(inspection_results))

📋 Data inspection results:
{'data_types': Open      float64
High      float64
Low       float64
Close     float64
Volume    float64
dtype: object, 'missing_values': Open      0
High      0
Low       0
Close     0
Volume    0
dtype: int64, 'duplicate_rows': np.int64(0)}

====================================================
     🔍 Inspecting the data for BND:
====================================================

       data_types  missing_values  duplicate_rows
Open      float64               0               0
High      float64               0               0
Low       float64               0               0
Close     float64               0               0
Volume    float64               0               0

In [13]:
# 🌟 Explore the first few rows of SPY data
print("🔍 Here are the first 10 rows of the SPY data:")
display(spy.head(10))

🔍 Here are the first 10 rows of the SPY data:

              Open    High      Low   Close      Volume
Date
2025-01-31  607.50  609.96  601.050  601.82  66671471.0
2025-01-30  603.96  606.60  600.715  605.04  39281255.0
2025-01-29  603.72  604.13  599.220  601.81  37177429.0
2025-01-28  600.62  605.37  597.250  604.52  44433322.0
2025-01-27  594.81  599.69  594.640  599.37  70361125.0
2025-01-24  609.81  610.78  606.800  607.97  34604693.0
2025-01-23  605.80  609.75  605.520  609.75  41152102.0
2025-01-22  605.92  607.82  605.360  606.44  48195973.0
2025-01-21  600.67  603.06  598.670  603.05  42532853.0
2025-01-17  596.96  599.36  595.610  597.58  58070628.0

In [18]:
# 📊 Understand the data of SPY
print("====================================================")
print("     🔍 Inspecting the data for SPY:")
print("====================================================")

inspection_results = processor.inspect_data(spy)  
display(pd.DataFrame(inspection_results))

📋 Data inspection results:
{'data_types': Open      float64
High      float64
Low       float64
Close     float64
Volume    float64
dtype: object, 'missing_values': Open      0
High      0
Low       0
Close     0
Volume    0
dtype: int64, 'duplicate_rows': np.int64(0)}

====================================================
     🔍 Inspecting the data for SPY:
====================================================

       data_types  missing_values  duplicate_rows
Open      float64               0               0
High      float64               0               0
Low       float64               0               0
Close     float64               0               0
Volume    float64               0               0

In [19]:
# 🌟 Explore the first few rows of TSLA data
print("🔍 Here are the first 10 rows of the TSLA data:")
display(tsla.head(10))

🔍 Here are the first 10 rows of the TSLA data:

              Open      High     Low   Close    Volume
Date
2025-01-31  401.53  419.9900  401.34  404.60  83568219
2025-01-30  410.78  412.5000  384.41  400.28  98092879
2025-01-29  395.21  398.5899  384.48  389.10  68033648
2025-01-28  396.91  400.5900  386.50  398.09  48910676
2025-01-27  394.80  406.6900  389.00  397.15  58125510
2025-01-24  414.45  418.8800  405.78  406.58  56427149
2025-01-23  416.06  420.7300  408.95  412.38  50690592
2025-01-22  416.81  428.0000  414.59  415.11  60963342
2025-01-21  432.64  433.2000  406.31  424.07  87320894
2025-01-17  421.50  439.7400  419.75  426.50  94991429

In [20]:
# 📊 Understand the data of TSLA
print("====================================================")
print("     🔍 Inspecting the data for TSLA:")
print("====================================================")

inspection_results = processor.inspect_data(tsla)  
display(pd.DataFrame(inspection_results))

📋 Data inspection results:
{'data_types': Open      float64
High      float64
Low       float64
Close     float64
Volume      int64
dtype: object, 'missing_values': Open      0
High      0
Low       0
Close     0
Volume    0
dtype: int64, 'duplicate_rows': np.int64(0)}

====================================================
     🔍 Inspecting the data for TSLA:
====================================================

       data_types  missing_values  duplicate_rows
Open      float64               0               0
High      float64               0               0
Low       float64               0               0
Close     float64               0               0
Volume      int64               0               0

In [21]:
# 📐 Shape of the data for each stock
print("📊 Shape of the data:")
print(f"📈 TSLA: {tsla.shape}")  
print(f"💼 BND: {bnd.shape}")    
print(f"📉 SPY: {spy.shape}")

📊 Shape of the data:
📈 TSLA: (2536, 5)
💼 BND: (2536, 5)
📉 SPY: (2536, 5)